nodeRED_code
[{"id":"ff5f92ae.f7a968","type":"tab","label":"House ","disabled":false,"info":""},{"id":"ea34fccc.b38df8","type":"tab","label":"Room1","disabled":false,"info":""},{"id":"b4775485.1f728","type":"tab","label":"Room2","disabled":false,"info":""},{"id":"7718f90a.6e6fa8","type":"tab","label":"Room3","disabled":false,"info":""},{"id":"da64988.798f6e8","type":"tab","label":"Room4","disabled":false,"info":""},{"id":"8a9a8a88.ca1ed","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"16abc6ca.8d93a9","type":"ui_tab","z":"","name":"Room1","icon":"dashboard"},{"id":"b1e4b551.5ec44","type":"ui_group","z":"","name":"Control","tab":"16abc6ca.8d93a9","disp":true,"width":"6","collapse":false},{"id":"25be565e.fa28fa","type":"ui_group","z":"","name":"Temperature","tab":"36dfaab5.229bee","disp":true,"width":"6","collapse":false},{"id":"36dfaab5.229bee","type":"ui_tab","z":"","name":"Room2","icon":"dashboard"},{"id":"a2c01cdb.7644f","type":"ui_group","z":"","name":"Control","tab":"36dfaab5.229bee","disp":true,"width":"6","collapse":false},{"id":"d6b737e7.b54138","type":"ui_group","z":"","name":"Temperature","tab":"16abc6ca.8d93a9","disp":true,"width":"6","collapse":false},{"id":"e3f68675.f32758","type":"ui_tab","z":"","name":"Room3","icon":"dashboard"},{"id":"2807632e.b87344","type":"ui_group","z":"","name":"Control","tab":"e3f68675.f32758","disp":true,"width":"6","collapse":false},{"id":"3fa15faf.a4489","type":"ui_group","z":"","name":"Temperature","tab":"34841497.8708f4","disp":true,"width":"6","collapse":false},{"id":"34841497.8708f4","type":"ui_tab","z":"","name":"Room4","icon":"dashboard"},{"id":"f3bc150e.569538","type":"ui_group","z":"","name":"Control","tab":"34841497.8708f4","disp":true,"width":"6","collapse":false},{"id":"90be470b.aeb6e","type":"ui_group","z":"","name":"Temperature","tab":"e3f68675.f32758","disp":true,"width":"6","collapse":false},{"id":"4274ac62.904584","type":"ui_tab","z":"","name":"House","icon":"dashboard"},{"id":"4a336cf0.c8d3c4","type":"ui_group","z":"","name":"Home","tab":"4274ac62.904584","disp":true,"width":"6","collapse":false},{"id":"8dc9dd9e.236a5","type":"coap-server","name":"Hello CoAP Server","port":"5683"},{"id":"2ebd5fa6.4d71c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e24acaeb.20d228","type":"coap request","z":"ea34fccc.b38df8","method":"POST","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/p/A","content-format":"text/plain","raw-buffer":true,"name":"POST_air_conditioning","x":460,"y":40,"wires":[[]]},{"id":"73449280.aec594","type":"ui_button","z":"ea34fccc.b38df8","name":"air_conditioning_button","group":"b1e4b551.5ec44","order":0,"width":0,"height":0,"passthru":true,"label":"Air Conditioning","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":100,"wires":[["e24acaeb.20d228","19a1a495.20c02b","51aaaa65.5beb04"]]},{"id":"15265d2c.1b60fb","type":"ui_text","z":"ea34fccc.b38df8","group":"b1e4b551.5ec44","order":0,"width":0,"height":0,"name":"air_status","label":"Air:","format":"{{msg.payload}}","layout":"row-left","x":900,"y":160,"wires":[]},{"id":"2ecfc3d2.bc1bb4","type":"function","z":"b4775485.1f728","name":"MinuteAverage","func":"var payload=msg.payload;\nvar sum;\nvar temp;\nvar counter=context.get('counter') || 0;\n\ntemp=parseInt(payload);\nif(counter==0)\n{\n    context.set('sum',temp);\n    counter=1;\n    context.set('counter',counter);\n}\nelse if(counter==1)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    counter=2;\n    context.set('counter',counter);\n    context.set('sum',sum);\n}\nelse if(counter==2)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    msg.payload=sum/3;\n    counter=0;\n    context.set('counter',counter);\n    return msg;\n} \n","outputs":1,"noerr":0,"x":600,"y":1140,"wires":[["d810084e.216cf","8c44f6d3.d6674"]]},{"id":"fc895396.71eb98","type":"inject","z":"b4775485.1f728","name":"20_sec_check","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"0,4","x":180,"y":1140,"wires":[["21db1f9e.ac5448"]]},{"id":"21db1f9e.ac5448","type":"coap request","z":"b4775485.1f728","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp","x":390,"y":1140,"wires":[["2ecfc3d2.bc1bb4"]]},{"id":"696dbe7.b3cfbc","type":"function","z":"ff5f92ae.f7a968","name":"Average","func":"var payload=msg.payload;\nvar sum;\nvar temp;\nvar counter=context.get('counter') || 0;\n\ntemp=parseInt(payload);\nif(counter==0)\n{\n    context.set('sum',temp);\n    counter=1;\n    context.set('counter',counter);\n}\nelse if(counter==1)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    counter=2;\n    context.set('counter',counter);\n    context.set('sum',sum);\n}\nelse if(counter==2)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    counter=3;\n    context.set('counter',counter);\n    context.set('sum',sum);\n}\nelse if(counter==3)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    msg.payload=sum/4;\n    counter=0;\n    context.set('counter',counter);\n    return msg;\n} \n","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["8fdd3218.cc24b"]]},{"id":"b62e1de4.dee438","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp_Room1","x":410,"y":60,"wires":[["696dbe7.b3cfbc"]]},{"id":"dbac1eec.3b17a8","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp_Room2","x":410,"y":100,"wires":[["696dbe7.b3cfbc"]]},{"id":"94a0d0ca.7e764","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp_Room3","x":410,"y":140,"wires":[["696dbe7.b3cfbc"]]},{"id":"ca342bf5.2a038","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp_Room4","x":410,"y":180,"wires":[["696dbe7.b3cfbc"]]},{"id":"45b37ea1.1a298","type":"ui_chart","z":"ff5f92ae.f7a968","name":"","group":"4a336cf0.c8d3c4","order":0,"width":0,"height":0,"label":"House Average","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1040,"y":80,"wires":[[],[]]},{"id":"19a1a495.20c02b","type":"function","z":"ea34fccc.b38df8","name":"Log_AirButton","func":"msg.payload=\"[room1]: AC button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["4ba3a8e9.595f9"]]},{"id":"4ba3a8e9.595f9","type":"debug","z":"ea34fccc.b38df8","name":"Log_AirButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":100,"wires":[]},{"id":"d810084e.216cf","type":"function","z":"b4775485.1f728","name":"Log_Average","func":"msg.payload=\"[room2]: Last minute average is: \"+msg.payload+\" °C\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1200,"wires":[["7fb2868f.4085d8"]]},{"id":"7fb2868f.4085d8","type":"debug","z":"b4775485.1f728","name":"Log_Average","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":1200,"wires":[]},{"id":"ec739f9e.a96878","type":"debug","z":"ff5f92ae.f7a968","name":"Log_Allert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":200,"wires":[]},{"id":"c7ae665a.bbb508","type":"function","z":"ff5f92ae.f7a968","name":"Log_HouseAverage","func":"msg.payload=\"[House]: Average of all rooms is \"+msg.payload+\" °C. Sending it to thingspeak\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":200,"wires":[["ec739f9e.a96878"]]},{"id":"51aaaa65.5beb04","type":"coap
 request","z":"ea34fccc.b38df8","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning","x":460,"y":160,"wires":[["d6165dc4.ffe02","d8991488.dfcac8"]]},{"id":"d6165dc4.ffe02","type":"function","z":"ea34fccc.b38df8","name":"Log_AirStatus","func":"if(msg.payload==1)\nmsg.payload=\"[room1]: AC is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room1]: AC is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":220,"wires":[["43a51439.0a1bec"]]},{"id":"43a51439.0a1bec","type":"debug","z":"ea34fccc.b38df8","name":"Log_StatusAC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":220,"wires":[]},{"id":"bed8e3b4.39db68","type":"coap request","z":"ea34fccc.b38df8","method":"POST","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/p/H","content-format":"text/plain","raw-buffer":true,"name":"POST_heat","x":470,"y":260,"wires":[[]]},{"id":"864e8481.f265b","type":"ui_button","z":"ea34fccc.b38df8","name":"heat_conditioning_button","group":"b1e4b551.5ec44","order":0,"width":0,"height":0,"passthru":true,"label":"Heating","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":320,"wires":[["bed8e3b4.39db68","2866fb66.5ebf2c","ca03060f.c5e54"]]},{"id":"5a3b3fa3.13ebd8","type":"ui_text","z":"ea34fccc.b38df8","group":"b1e4b551.5ec44","order":0,"width":0,"height":0,"name":"heat__status","label":"Heat:","format":"{{msg.payload}}","layout":"row-left","x":890,"y":380,"wires":[]},{"id":"2866fb66.5ebf2c","type":"function","z":"ea34fccc.b38df8","name":"Log_HeatButton","func":"msg.payload=\"[room1]: Heat button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["68cc2d20.9b1eec"]]},{"id":"68cc2d20.9b1eec","type":"debug","z":"ea34fccc.b38df8","name":"Log_HeatButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":320,"wires":[]},{"id":"ca03060f.c5e54","type":"coap request","z":"ea34fccc.b38df8","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat","x":460,"y":380,"wires":[["110e7db2.ec5bd2","d4580c90.8077a"]]},{"id":"110e7db2.ec5bd2","type":"function","z":"ea34fccc.b38df8","name":"Log_HeatStatus","func":"if(msg.payload==1)\nmsg.payload=\"[room1]: Heating is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room1]: Heating is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":440,"wires":[["dd5d26e1.2c087"]]},{"id":"dd5d26e1.2c087","type":"debug","z":"ea34fccc.b38df8","name":"Log_StatusHeat","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":440,"wires":[]},{"id":"cc6477e3.1a22c","type":"coap request","z":"ea34fccc.b38df8","method":"POST","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/p/V","content-format":"text/plain","raw-buffer":true,"name":"POST_vent","x":490,"y":500,"wires":[[]]},{"id":"637600f6.c8d628","type":"ui_button","z":"ea34fccc.b38df8","name":"ventilation_conditioning_button","group":"b1e4b551.5ec44","order":0,"width":0,"height":0,"passthru":true,"label":"Ventilation","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":560,"wires":[["cc6477e3.1a22c","d44a5529.b7a56","cabf8519.5199b"]]},{"id":"35a90dc4.ecb30a","type":"ui_text","z":"ea34fccc.b38df8","group":"b1e4b551.5ec44","order":0,"width":0,"height":0,"name":"vent__status","label":"Ventilation:","format":"{{msg.payload}}","layout":"row-left","x":910,"y":620,"wires":[]},{"id":"d44a5529.b7a56","type":"function","z":"ea34fccc.b38df8","name":"Log_VentButton","func":"msg.payload=\"[room1]: Vent button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":560,"wires":[["ebe330b0.284e18"]]},{"id":"ebe330b0.284e18","type":"debug","z":"ea34fccc.b38df8","name":"Log_HeatButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":560,"wires":[]},{"id":"cabf8519.5199b","type":"coap request","z":"ea34fccc.b38df8","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent","x":480,"y":620,"wires":[["bd2030b8.4f20a","c3a483b4.ece68"]]},{"id":"bd2030b8.4f20a","type":"function","z":"ea34fccc.b38df8","name":"Log_VentButton","func":"if(msg.payload==1)\nmsg.payload=\"[room1]: Ventilation is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room1]: Ventilation is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":680,"wires":[["5d6c3787.0bbc68"]]},{"id":"5d6c3787.0bbc68","type":"debug","z":"ea34fccc.b38df8","name":"Log_Statusvent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":680,"wires":[]},{"id":"d8991488.dfcac8","type":"function","z":"ea34fccc.b38df8","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":160,"wires":[["15265d2c.1b60fb"]]},{"id":"d4580c90.8077a","type":"function","z":"ea34fccc.b38df8","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["5a3b3fa3.13ebd8"]]},{"id":"c3a483b4.ece68","type":"function","z":"ea34fccc.b38df8","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":620,"wires":[["35a90dc4.ecb30a"]]},{"id":"9e240571.a1217","type":"coap request","z":"ea34fccc.b38df8","method":"GET","observe":true,"url":"coap://[aaaa::212:7402:2:202]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp","x":410,"y":740,"wires":[["5edde97e.645818","39df1966.28eede","edfd11b2.173f88"]],"inputLabels":["1"],"outputLabels":["1"]},{"id":"582ccb27.a70494","type":"inject","z":"ea34fccc.b38df8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0,1","x":170,"y":740,"wires":[["9e240571.a1217"]]},{"id":"5edde97e.645818","type":"ui_gauge","z":"ea34fccc.b38df8","name":"temp_gauge","group":"d6b737e7.b54138","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor1","label":"° C","format":"{{value}}","min":"10","max":"40","colors":["#0024ff","#04ff00","#ff0100"],"seg1":"","seg2":"","x":810,"y":740,"wires":[]},{"id":"39df1966.28eede","type":"function","z":"ea34fccc.b38df8","name":"Log_Temp","func":"msg.payload=\"[room1]: Temperature is now \"+msg.payload+\" °C\"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":800,"wires":[["b7c71773.f18718"]]},{"id":"b7c71773.f18718","type":"debug","z":"ea34fccc.b38df8","name":"Log_Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":800,"wires":[]},{"id":"2adba0e.74221e","type":"coap request","z":"b4775485.1f728","method":"POST","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/p/A","content-format":"text/plain","raw-buffer":true,"name":"POST_air_conditioning","x":480,"y":40,"wires":[[]]},{"id":"1e9555fc.d44dba","type":"ui_button","z":"b4775485.1f728","name":"air_conditioning_button","group":"a2c01cdb.7644f","order":0,"width":0,"height":0,"passthru":true,"label":"Air Conditioning","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":100,"wires":[["2adba0e.74221e","b89a527e.b0992","40c93c55.d59434"]]},{"id":"6019bb9f.9a54b4","type":"ui_text","z":"b4775485.1f728","group":"a2c01cdb.7644f","order":0,"width":0,"height":0,"name":"air_status","label":"Air:","format":"{{msg.payload}}","layout":"row-left","x":920,"y":160,"wires":[]},{"id":"b89a527e.b0992","type":"function","z":"b4775485.1f728","name":"Log_AirButton","func":"msg.payload=\"[room2]: AC button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["4c9501a.7fb5f"]]},{"id":"4c9501a.7fb5f","type":"debug","z":"b4775485.1f728","name":"Log_AirButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":100,"wires":[]},{"id":"40c93c55.d59434","type":"coap request","z":"b4775485.1f728","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning","x":480,"y":160,"wires":[["33153525.729b12","1f90403d.0635d8"]]},{"id":"33153525.729b12","type":"function","z":"b4775485.1f728","name":"Log_AirStatus","func":"if(msg.payload==1)\nmsg.payload=\"[room2]: AC is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room2]: AC is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":220,"wires":[["f16f0def.3b2fb"]]},{"id":"f16f0def.3b2fb","type":"debug","z":"b4775485.1f728","name":"Log_StatusAC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":220,"wires":[]},{"id":"981a879c.a27938","type":"coap request","z":"b4775485.1f728","method":"POST","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/p/H","content-format":"text/plain","raw-buffer":true,"name":"POST_heat","x":450,"y":280,"wires":[[]]},{"id":"ccd37142.89e64","type":"ui_button","z":"b4775485.1f728","name":"heat_conditioning_button","group":"a2c01cdb.7644f","order":0,"width":0,"height":0,"passthru":true,"label":"Heating","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":340,"wires":[["981a879c.a27938","f8688dad.beb508","7f7e6681.4bafe8"]]},{"id":"34afd9fb.331e76","type":"ui_text","z":"b4775485.1f728","group":"a2c01cdb.7644f","order":0,"width":0,"height":0,"name":"heat__status","label":"Heat:","format":"{{msg.payload}}","layout":"row-left","x":870,"y":400,"wires":[]},{"id":"f8688dad.beb508","type":"function","z":"b4775485.1f728","name":"Log_HeatButton","func":"msg.payload=\"[room2]: Heat button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["611bcedd.c366d8"]]},{"id":"611bcedd.c366d8","type":"debug","z":"b4775485.1f72
8","name":"Log_HeatButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":340,"wires":[]},{"id":"7f7e6681.4bafe8","type":"coap request","z":"b4775485.1f728","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat","x":440,"y":400,"wires":[["cc7bd954.f8749","8e314ee9.a61898"]]},{"id":"cc7bd954.f8749","type":"function","z":"b4775485.1f728","name":"Log_HeatStatus","func":"if(msg.payload==1)\nmsg.payload=\"[room2]: Heating is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room2]: Heating is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["6dc7ce55.43b73"]]},{"id":"6dc7ce55.43b73","type":"debug","z":"b4775485.1f728","name":"Log_StatusHeat","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":460,"wires":[]},{"id":"c76459f6.873a","type":"coap request","z":"b4775485.1f728","method":"POST","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/p/V","content-format":"text/plain","raw-buffer":true,"name":"POST_vent","x":490,"y":560,"wires":[[]]},{"id":"f586a12b.d36b28","type":"ui_button","z":"b4775485.1f728","name":"ventilation_conditioning_button","group":"a2c01cdb.7644f","order":0,"width":0,"height":0,"passthru":true,"label":"Ventilation","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":620,"wires":[["c76459f6.873a","8a5cb39a.604758","f3f17c03.23beb8"]]},{"id":"a212116d.d0f828","type":"ui_text","z":"b4775485.1f728","group":"a2c01cdb.7644f","order":0,"width":0,"height":0,"name":"vent__status","label":"Ventilation:","format":"{{msg.payload}}","layout":"row-left","x":910,"y":700,"wires":[]},{"id":"8a5cb39a.604758","type":"function","z":"b4775485.1f728","name":"Log_VentButton","func":"msg.payload=\"[room2]: Vent button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["e304ea1c.ed88e"]]},{"id":"e304ea1c.ed88e","type":"debug","z":"b4775485.1f728","name":"Log_HeatButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":620,"wires":[]},{"id":"f3f17c03.23beb8","type":"coap request","z":"b4775485.1f728","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent","x":480,"y":700,"wires":[["f5663645.967f4","7400846d.db451c"]]},{"id":"f5663645.967f4","type":"function","z":"b4775485.1f728","name":"Log_VentButton","func":"if(msg.payload==1)\nmsg.payload=\"[room2]: Ventilation is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room2]: Ventilation is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":760,"wires":[["a59b3c1e.ca68e8"]]},{"id":"a59b3c1e.ca68e8","type":"debug","z":"b4775485.1f728","name":"Log_Statusvent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":760,"wires":[]},{"id":"1f90403d.0635d8","type":"function","z":"b4775485.1f728","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":160,"wires":[["6019bb9f.9a54b4"]]},{"id":"8e314ee9.a61898","type":"function","z":"b4775485.1f728","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":400,"wires":[["34afd9fb.331e76"]]},{"id":"7400846d.db451c","type":"function","z":"b4775485.1f728","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":700,"wires":[["a212116d.d0f828"]]},{"id":"53b929e4.1e46a","type":"coap request","z":"b4775485.1f728","method":"GET","observe":true,"url":"coap://[aaaa::212:7403:3:303]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp","x":450,"y":840,"wires":[["21c3f70.cd2c00a","e29dfaf1.fa1188","59f3e0b.43b912"]],"inputLabels":["1"],"outputLabels":["1"]},{"id":"5d51aa52.ec5de4","type":"inject","z":"b4775485.1f728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0,3","x":170,"y":840,"wires":[["53b929e4.1e46a"]]},{"id":"21c3f70.cd2c00a","type":"ui_gauge","z":"b4775485.1f728","name":"temp_gauge","group":"25be565e.fa28fa","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor1","label":"° C","format":"{{value}}","min":"10","max":"40","colors":["#0024ff","#04ff00","#ff0100"],"seg1":"","seg2":"","x":850,"y":840,"wires":[]},{"id":"e29dfaf1.fa1188","type":"function","z":"b4775485.1f728","name":"Log_Temp","func":"msg.payload=\"[room2]: Temperature is now \"+msg.payload+\" °C\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":900,"wires":[["ada9bff4.798318"]]},{"id":"ada9bff4.798318","type":"debug","z":"b4775485.1f728","name":"Log_Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":900,"wires":[]},{"id":"c49932c3.0a6ae","type":"function","z":"ea34fccc.b38df8","name":"MinuteAverage","func":"var payload=msg.payload;\nvar sum;\nvar temp;\nvar counter=context.get('counter') || 0;\n\ntemp=parseInt(payload);\nif(counter==0)\n{\n    context.set('sum',temp);\n    counter=1;\n    context.set('counter',counter);\n}\nelse if(counter==1)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    counter=2;\n    context.set('counter',counter);\n    context.set('sum',sum);\n}\nelse if(counter==2)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    msg.payload=sum/3;\n    counter=0;\n    context.set('counter',counter);\n    return msg;\n} \n","outputs":1,"noerr":0,"x":620,"y":980,"wires":[["c89fc010.5096b","720d6e0a.87ee88"]]},{"id":"68596f13.fe733","type":"inject","z":"ea34fccc.b38df8","name":"20_sec_check","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"0,2","x":200,"y":980,"wires":[["21d9b22a.ad1b4e"]]},{"id":"21d9b22a.ad1b4e","type":"coap request","z":"ea34fccc.b38df8","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp","x":410,"y":980,"wires":[["c49932c3.0a6ae"]]},{"id":"c89fc010.5096b","type":"function","z":"ea34fccc.b38df8","name":"Log_Average","func":"msg.payload=\"[room1]: Last minute average is: \"+msg.payload+\" °C\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1040,"wires":[["6d381f82.a72f2"]]},{"id":"6d381f82.a72f2","type":"debug","z":"ea34fccc.b38df8","name":"Log_Average","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":1040,"wires":[]},{"id":"59f3e0b.43b912","type":"function","z":"b4775485.1f728","name":"Allert","func":"var temp;\ntemp=parseInt(msg.payload);\nmsg.payload=\"Temperature out of range\";\nif (temp<5 || temp>35)\n{return msg;}\n","outputs":1,"noerr":0,"x":830,"y":960,"wires":[["359d1fa0.41b438","e491a9a1.dcb07"]]},{"id":"e9482823.28f0e","type":"debug","z":"b4775485.1f728","name":"Log_Allert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":1020,"wires":[]},{"id":"359d1fa0.41b438","type":"function","z":"b4775485.1f728","name":"Log_Allert","func":"msg.payload=\"[room2]: \"+msg.payload+\". Sending an email allert\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1020,"wires":[["e9482823.28f0e"]]},{"id":"edfd11b2.173f88","type":"function","z":"ea34fccc.b38df8","name":"Allert","func":"var temp;\ntemp=parseInt(msg.payload);\nmsg.payload=\"Temperature out of range\";\nif (temp<5 || temp>35)\n{return msg;}\n","outputs":1,"noerr":0,"x":790,"y":860,"wires":[["ed9fa21c.a663","2165ba05.cc3d6e"]]},{"id":"d81183eb.257478","type":"debug","z":"ea34fccc.b38df8","name":"Log_Allert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":980,"y":920,"wires":[]},{"id":"ed9fa21c.a663","type":"function","z":"ea34fccc.b38df8","name":"Log_Allert","func":"msg.payload=\"[room1]: \"+msg.payload+\". Sending an email allert\"\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":920,"wires":[["d81183eb.257478"]]},{"id":"ac085315.7964f8","type":"coap request","z":"7718f90a.6e6fa8","method":"POST","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/p/A","content-format":"text/plain","raw-buffer":true,"name":"POST_air_conditioning","x":440,"y":60,"wires":[[]]},{"id":"b7379158.d930d8","type":"ui_button","z":"7718f90a.6e6fa8","name":"air_conditioning_button","group":"2807632e.b87344","order":0,"width":0,"height":0,"passthru":true,"label":"Air Conditioning","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":120,"wires":[["ac085315.7964f8","147a6397.d0cfbc","ac5922b0.709b18"]]},{"id":"291151d7.2ef9ae","type":"ui_text","z":"7718f90a.6e6fa8","group":"2807632e.b87344","order":0,"width":0,"height":0,"name":"air_status","label":"Air:","format":"{{msg.payload}}","layout":"row-left","x":880,"y":180,"wires":[]},{"id":"147a6397.d0cfbc","type":"function","z":"7718f90a.6e6fa8","name":"Log_AirButton","func":"msg.payload=\"[room3]: AC button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["11d8fc35.58224c"]]},{"id":"11d8fc35.58224c","type":"debug","z":"7718f90a.6e6fa8","name":"Log_AirButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":120,"wires":[]},{"id":"ac5922b0.709b18","type":"coap request","z":"7718f90a.6e6fa8","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning","x":440,"y":180,"wires":[["1e0b22ba.ad6055","3769d42f.cf291c"]]},{"id":"1e0b22ba.ad6055","type":"function","z":"7718f90a.6e6fa8","name":"Log_AirStatus","func":"if(msg.payload==1)\nmsg.payload=\"[room3]: AC is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room3]: AC is OFF\"\nreturn
 msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["6e6819aa.dc3348"]]},{"id":"6e6819aa.dc3348","type":"debug","z":"7718f90a.6e6fa8","name":"Log_StatusAC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":240,"wires":[]},{"id":"84fde52d.c2873","type":"coap request","z":"7718f90a.6e6fa8","method":"POST","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/p/H","content-format":"text/plain","raw-buffer":true,"name":"POST_heat","x":450,"y":280,"wires":[[]]},{"id":"7d9db5ca.dddebc","type":"ui_button","z":"7718f90a.6e6fa8","name":"heat_conditioning_button","group":"2807632e.b87344","order":0,"width":0,"height":0,"passthru":true,"label":"Heating","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":340,"wires":[["84fde52d.c2873","c443fed6.76fd28","dd85d893.2dc6b"]]},{"id":"f5a63e7.86659c","type":"ui_text","z":"7718f90a.6e6fa8","group":"2807632e.b87344","order":0,"width":0,"height":0,"name":"heat__status","label":"Heat:","format":"{{msg.payload}}","layout":"row-left","x":870,"y":400,"wires":[]},{"id":"c443fed6.76fd28","type":"function","z":"7718f90a.6e6fa8","name":"Log_HeatButton","func":"msg.payload=\"[room3]: Heat button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["cb016114.3ade9"]]},{"id":"cb016114.3ade9","type":"debug","z":"7718f90a.6e6fa8","name":"Log_HeatButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":340,"wires":[]},{"id":"dd85d893.2dc6b","type":"coap request","z":"7718f90a.6e6fa8","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat","x":440,"y":400,"wires":[["911442ae.8e95a","ca95b4d9.b18bb8"]]},{"id":"911442ae.8e95a","type":"function","z":"7718f90a.6e6fa8","name":"Log_HeatStatus","func":"if(msg.payload==1)\nmsg.payload=\"[room3]: Heating is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room3]: Heating is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["8dc38633.dafce8"]]},{"id":"8dc38633.dafce8","type":"debug","z":"7718f90a.6e6fa8","name":"Log_StatusHeat","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":460,"wires":[]},{"id":"eea67c4b.cb89e8","type":"coap request","z":"7718f90a.6e6fa8","method":"POST","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/p/V","content-format":"text/plain","raw-buffer":true,"name":"POST_vent","x":470,"y":540,"wires":[[]]},{"id":"cea53df6.d891f8","type":"ui_button","z":"7718f90a.6e6fa8","name":"ventilation_conditioning_button","group":"2807632e.b87344","order":0,"width":0,"height":0,"passthru":true,"label":"Ventilation","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":600,"wires":[["eea67c4b.cb89e8","a09ef936.34d56","430a1fef.2950f8"]]},{"id":"403aca8a.0b3fec","type":"ui_text","z":"7718f90a.6e6fa8","group":"2807632e.b87344","order":0,"width":0,"height":0,"name":"vent__status","label":"Ventilation:","format":"{{msg.payload}}","layout":"row-left","x":890,"y":660,"wires":[]},{"id":"a09ef936.34d56","type":"function","z":"7718f90a.6e6fa8","name":"Log_VentButton","func":"msg.payload=\"[room3]: Vent button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["d93a8ea2.00202"]]},{"id":"d93a8ea2.00202","type":"debug","z":"7718f90a.6e6fa8","name":"Log_HeatButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":600,"wires":[]},{"id":"430a1fef.2950f8","type":"coap request","z":"7718f90a.6e6fa8","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent","x":460,"y":660,"wires":[["fb6ab2cb.704fd","1520ef07.474519"]]},{"id":"fb6ab2cb.704fd","type":"function","z":"7718f90a.6e6fa8","name":"Log_VentButton","func":"if(msg.payload==1)\nmsg.payload=\"[room3]: Ventilation is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room3]: Ventilation is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":720,"wires":[["2f444145.ee6a46"]]},{"id":"2f444145.ee6a46","type":"debug","z":"7718f90a.6e6fa8","name":"Log_Statusvent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":720,"wires":[]},{"id":"3769d42f.cf291c","type":"function","z":"7718f90a.6e6fa8","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["291151d7.2ef9ae"]]},{"id":"ca95b4d9.b18bb8","type":"function","z":"7718f90a.6e6fa8","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":400,"wires":[["f5a63e7.86659c"]]},{"id":"1520ef07.474519","type":"function","z":"7718f90a.6e6fa8","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":660,"wires":[["403aca8a.0b3fec"]]},{"id":"1055dd56.5791eb","type":"coap request","z":"7718f90a.6e6fa8","method":"GET","observe":true,"url":"coap://[aaaa::212:7404:4:404]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp","x":410,"y":820,"wires":[["267628cd.0c59d","3a056a45.cb4006","da86577e.20b04"]],"inputLabels":["1"],"outputLabels":["1"]},{"id":"1996560a.728b0a","type":"inject","z":"7718f90a.6e6fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0,5","x":110,"y":820,"wires":[["1055dd56.5791eb"]]},{"id":"267628cd.0c59d","type":"ui_gauge","z":"7718f90a.6e6fa8","name":"temp_gauge","group":"90be470b.aeb6e","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor1","label":"° C","format":"{{value}}","min":"10","max":"40","colors":["#0024ff","#04ff00","#ff0100"],"seg1":"","seg2":"","x":770,"y":820,"wires":[]},{"id":"3a056a45.cb4006","type":"function","z":"7718f90a.6e6fa8","name":"Log_Temp","func":"msg.payload=\"[room3]: Temperature is now \"+msg.payload+\" °C\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":880,"wires":[["6db2646b.cff49c"]]},{"id":"6db2646b.cff49c","type":"debug","z":"7718f90a.6e6fa8","name":"Log_Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":880,"wires":[]},{"id":"43999f9b.c15fe","type":"function","z":"7718f90a.6e6fa8","name":"MinuteAverage","func":"var payload=msg.payload;\nvar sum;\nvar temp;\nvar counter=context.get('counter') || 0;\n\ntemp=parseInt(payload);\nif(counter==0)\n{\n    context.set('sum',temp);\n    counter=1;\n    context.set('counter',counter);\n}\nelse if(counter==1)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    counter=2;\n    context.set('counter',counter);\n    context.set('sum',sum);\n}\nelse if(counter==2)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    msg.payload=sum/3;\n    counter=0;\n    context.set('counter',counter);\n    return msg;\n} \n","outputs":1,"noerr":0,"x":580,"y":1100,"wires":[["37cf9e57.542c62","8e63ee6e.832618"]]},{"id":"af0ca28.61df76","type":"inject","z":"7718f90a.6e6fa8","name":"20_sec_check","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"0,6","x":160,"y":1100,"wires":[["efe4f13b.c6e8c"]]},{"id":"efe4f13b.c6e8c","type":"coap request","z":"7718f90a.6e6fa8","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp","x":370,"y":1100,"wires":[["43999f9b.c15fe"]]},{"id":"37cf9e57.542c62","type":"function","z":"7718f90a.6e6fa8","name":"Log_Average","func":"msg.payload=\"[room3]: Last minute average is: \"+msg.payload+\" °C\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1160,"wires":[["10671377.f1976d"]]},{"id":"10671377.f1976d","type":"debug","z":"7718f90a.6e6fa8","name":"Log_Average","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":1160,"wires":[]},{"id":"da86577e.20b04","type":"function","z":"7718f90a.6e6fa8","name":"Allert","func":"var temp;\ntemp=parseInt(msg.payload);\nmsg.payload=\"Temperature out of range\";\nif (temp<5 || temp>35)\n{return msg;}\n","outputs":1,"noerr":0,"x":750,"y":940,"wires":[["4d081dca.39bf84","e4e4b596.86962"]]},{"id":"a0d87d2e.8ddfb8","type":"debug","z":"7718f90a.6e6fa8","name":"Log_Allert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":1000,"wires":[]},{"id":"4d081dca.39bf84","type":"function","z":"7718f90a.6e6fa8","name":"Log_Allert","func":"msg.payload=\"[room3]: \"+msg.payload+\". Sending an email allert\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1000,"wires":[["a0d87d2e.8ddfb8"]]},{"id":"41b42692.eb97e8","type":"coap request","z":"da64988.798f6e8","method":"POST","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/p/A","content-format":"text/plain","raw-buffer":true,"name":"POST_air_conditioning","x":480,"y":60,"wires":[[]]},{"id":"3cf27bba.71b2b4","type":"ui_button","z":"da64988.798f6e8","name":"air_conditioning_button","group":"f3bc150e.569538","order":0,"width":0,"height":0,"passthru":true,"label":"Air Conditioning","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":120,"wires":[["41b42692.eb97e8","91135a13.392fd8","ac5af017.28cfa8"]]},{"id":"7a1d369a.de1428","type":"ui_text","z":"da64988.798f6e8","group":"f3bc150e.569538","order":0,"width":0,"height":0,"name":"air_status","label":"Air:","format":"{{msg.payload}}","layout":"row-left","x":920,"y":180,"wires":[]},{"id":"91135a13.392fd8","type":"function","z":"da64988.798f6e8","name":"Log_AirButton","func":"msg.payload=\"[room4]: AC button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["52511e0b.c3d7a8"]]},{"id":"52511e0b.c3d7a8","type":"debug","z":"da64988.798f6e8","name":"Log_AirButton","active":true,"tosidebar":true,
"console":false,"tostatus":false,"complete":"payload","x":700,"y":120,"wires":[]},{"id":"ac5af017.28cfa8","type":"coap request","z":"da64988.798f6e8","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning","x":480,"y":180,"wires":[["11c81b17.dfa995","692bc0f0.f5802"]]},{"id":"11c81b17.dfa995","type":"function","z":"da64988.798f6e8","name":"Log_AirStatus","func":"if(msg.payload==1)\nmsg.payload=\"[room4]: AC is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room4]: AC is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["8793ff98.1f99f"]]},{"id":"8793ff98.1f99f","type":"debug","z":"da64988.798f6e8","name":"Log_StatusAC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":240,"wires":[]},{"id":"1bdd4a16.eae3de","type":"coap request","z":"da64988.798f6e8","method":"POST","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/p/H","content-format":"text/plain","raw-buffer":true,"name":"POST_heat","x":490,"y":280,"wires":[[]]},{"id":"a315fa2a.5d4ef8","type":"ui_button","z":"da64988.798f6e8","name":"heat_conditioning_button","group":"f3bc150e.569538","order":0,"width":0,"height":0,"passthru":true,"label":"Heating","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":340,"wires":[["1bdd4a16.eae3de","37c22ec5.dc21aa","5679be89.d7153"]]},{"id":"bdcbf17f.725288","type":"ui_text","z":"da64988.798f6e8","group":"f3bc150e.569538","order":0,"width":0,"height":0,"name":"heat__status","label":"Heat:","format":"{{msg.payload}}","layout":"row-left","x":910,"y":400,"wires":[]},{"id":"37c22ec5.dc21aa","type":"function","z":"da64988.798f6e8","name":"Log_HeatButton","func":"msg.payload=\"[room4]: Heat button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["a4efb78d.50552"]]},{"id":"a4efb78d.50552","type":"debug","z":"da64988.798f6e8","name":"Log_HeatButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":340,"wires":[]},{"id":"5679be89.d7153","type":"coap request","z":"da64988.798f6e8","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat","x":480,"y":400,"wires":[["636b0608.8a2528","68e744ee.67b56c"]]},{"id":"636b0608.8a2528","type":"function","z":"da64988.798f6e8","name":"Log_HeatStatus","func":"if(msg.payload==1)\nmsg.payload=\"[room4]: Heating is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room4]: Heating is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":460,"wires":[["a480500c.e53af8"]]},{"id":"a480500c.e53af8","type":"debug","z":"da64988.798f6e8","name":"Log_StatusHeat","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":460,"wires":[]},{"id":"87a23126.015908","type":"coap request","z":"da64988.798f6e8","method":"POST","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/p/V","content-format":"text/plain","raw-buffer":true,"name":"POST_vent","x":550,"y":540,"wires":[[]]},{"id":"558c1d50.705414","type":"ui_button","z":"da64988.798f6e8","name":"ventilation_conditioning_button","group":"f3bc150e.569538","order":0,"width":0,"height":0,"passthru":true,"label":"Ventilation","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":600,"wires":[["87a23126.015908","5cbc39c7.b9c3a8","ad3352ad.7a3aa"]]},{"id":"7e30949a.4d0c6c","type":"ui_text","z":"da64988.798f6e8","group":"f3bc150e.569538","order":0,"width":0,"height":0,"name":"vent__status","label":"Ventilation:","format":"{{msg.payload}}","layout":"row-left","x":970,"y":660,"wires":[]},{"id":"5cbc39c7.b9c3a8","type":"function","z":"da64988.798f6e8","name":"Log_VentButton","func":"msg.payload=\"[room4]: Vent button pressed\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":600,"wires":[["c20627db.9d02c"]]},{"id":"c20627db.9d02c","type":"debug","z":"da64988.798f6e8","name":"Log_HeatButton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":760,"y":600,"wires":[]},{"id":"ad3352ad.7a3aa","type":"coap request","z":"da64988.798f6e8","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent","x":540,"y":660,"wires":[["faa89966.dc2b4","d9f75623.aa5b4"]]},{"id":"faa89966.dc2b4","type":"function","z":"da64988.798f6e8","name":"Log_VentButton","func":"if(msg.payload==1)\nmsg.payload=\"[room4]: Ventilation is ON\"\nif(msg.payload==0)\nmsg.payload=\"[room4]: Ventilation is OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":720,"wires":[["c73161da.164c6"]]},{"id":"c73161da.164c6","type":"debug","z":"da64988.798f6e8","name":"Log_Statusvent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":980,"y":720,"wires":[]},{"id":"692bc0f0.f5802","type":"function","z":"da64988.798f6e8","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":180,"wires":[["7a1d369a.de1428"]]},{"id":"68e744ee.67b56c","type":"function","z":"da64988.798f6e8","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":400,"wires":[["bdcbf17f.725288"]]},{"id":"d9f75623.aa5b4","type":"function","z":"da64988.798f6e8","name":"Parser_ONOFF","func":"if(msg.payload==1)\nmsg.payload=\"ON\"\nif(msg.payload==0)\nmsg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":660,"wires":[["7e30949a.4d0c6c"]]},{"id":"a0a14da0.48c5d","type":"coap request","z":"da64988.798f6e8","method":"GET","observe":true,"url":"coap://[aaaa::212:7405:5:505]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp","x":410,"y":820,"wires":[["b1a7211f.058a88","4c1ac47.5607ebc","9789d941.19f57"]],"inputLabels":["1"],"outputLabels":["1"]},{"id":"6913e6fa.e5f438","type":"inject","z":"da64988.798f6e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0,7","x":130,"y":820,"wires":[["a0a14da0.48c5d"]]},{"id":"b1a7211f.058a88","type":"ui_gauge","z":"da64988.798f6e8","name":"temp_gauge","group":"3fa15faf.a4489","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor1","label":"° C","format":"{{value}}","min":"10","max":"40","colors":["#0024ff","#04ff00","#ff0100"],"seg1":"","seg2":"","x":730,"y":820,"wires":[]},{"id":"4c1ac47.5607ebc","type":"function","z":"da64988.798f6e8","name":"Log_Temp","func":"msg.payload=\"[room4]: Temperature is now \"+msg.payload+\" °C\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":880,"wires":[["3d041f14.e6fb18"]]},{"id":"3d041f14.e6fb18","type":"debug","z":"da64988.798f6e8","name":"Log_Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":880,"wires":[]},{"id":"b4c5ae94.75b6e","type":"function","z":"da64988.798f6e8","name":"MinuteAverage","func":"var payload=msg.payload;\nvar sum;\nvar temp;\nvar counter=context.get('counter') || 0;\n\ntemp=parseInt(payload);\nif(counter==0)\n{\n    context.set('sum',temp);\n    counter=1;\n    context.set('counter',counter);\n}\nelse if(counter==1)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    counter=2;\n    context.set('counter',counter);\n    context.set('sum',sum);\n}\nelse if(counter==2)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    msg.payload=sum/3;\n    counter=0;\n    context.set('counter',counter);\n    return msg;\n} \n","outputs":1,"noerr":0,"x":560,"y":1100,"wires":[["921478db.35d87","32d96c9d.996f14"]]},{"id":"cefdd661.6977a","type":"inject","z":"da64988.798f6e8","name":"20_sec_check","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"0,8","x":140,"y":1100,"wires":[["38128f6f.3ae21"]]},{"id":"38128f6f.3ae21","type":"coap request","z":"da64988.798f6e8","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/T","content-format":"text/plain","raw-buffer":false,"name":"GET_temp","x":350,"y":1100,"wires":[["b4c5ae94.75b6e"]]},{"id":"921478db.35d87","type":"function","z":"da64988.798f6e8","name":"Log_Average","func":"msg.payload=\"[room4]: Last minute average is: \"+msg.payload+\" °C\"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1160,"wires":[["d3a21739.2c5cd"]]},{"id":"d3a21739.2c5cd","type":"debug","z":"da64988.798f6e8","name":"Log_Average","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":1160,"wires":[]},{"id":"9789d941.19f57","type":"function","z":"da64988.798f6e8","name":"Allert","func":"var temp;\ntemp=parseInt(msg.payload);\nmsg.payload=\"Temperature out of range\";\nif (temp<5 || temp>35)\n{return msg;}\n","outputs":1,"noerr":0,"x":710,"y":940,"wires":[["b8c3517f.352498","47c77f12.65d168"]]},{"id":"5f51f7f4.7bd6e","type":"debug","z":"da64988.798f6e8","name":"Log_Allert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":1000,"wires":[]},{"id":"b8c3517f.352498","type":"function","z":"da64988.798f6e8","name":"Log_Allert","func":"msg.payload=\"[room4]: \"+msg.payload+\". Sending an email allert\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1000,"wires":[["5f51f7f4.7bd6e"]]},{"id":"8fdd3218.cc24b","type":"function","z":"ff5f92ae.f7a968","name":"MinuteAverage","func":"var payload=msg.payload;\nvar sum;\nvar temp;\nvar counter=context.get('counter') || 0;\n\ntemp=parseFloat(payload);\nif(counter==0)\n{\n    context.set('sum',temp);\n    counter=1;\n    context.set('counter',counter);\n}\nelse if(counter==1)\n{\n    sum=context.get('sum');\n    sum=sum+temp;\n    counter=2;\n    context.set('counter',counter);\n    context.set('sum',sum);\n}\nelse if(counter==2)\n{\n    sum=context.get('sum');\n
    sum=sum+temp;\n    msg.payload=sum/3;\n    counter=0;\n    context.set('counter',counter);\n    return msg;\n} \n","outputs":1,"noerr":0,"x":800,"y":120,"wires":[["c7ae665a.bbb508","45b37ea1.1a298","c5771bf1.1e27"]]},{"id":"87cbb852.86a858","type":"inject","z":"ea34fccc.b38df8","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":160,"wires":[["51aaaa65.5beb04"]]},{"id":"285f3bf2.aedde4","type":"inject","z":"ea34fccc.b38df8","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":380,"wires":[["ca03060f.c5e54"]]},{"id":"32c95b1e.881ecc","type":"inject","z":"ea34fccc.b38df8","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":620,"wires":[["cabf8519.5199b"]]},{"id":"67a9145b.6ead0c","type":"inject","z":"b4775485.1f728","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":400,"wires":[["7f7e6681.4bafe8"]]},{"id":"1e290694.3d5489","type":"inject","z":"b4775485.1f728","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":160,"wires":[["40c93c55.d59434"]]},{"id":"8de22cc8.5917c8","type":"inject","z":"b4775485.1f728","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":700,"wires":[["f3f17c03.23beb8"]]},{"id":"8e7c165a.fa8f4","type":"inject","z":"7718f90a.6e6fa8","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":180,"wires":[["ac5922b0.709b18"]]},{"id":"adab6044.80ad2","type":"inject","z":"7718f90a.6e6fa8","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":400,"wires":[["dd85d893.2dc6b"]]},{"id":"7bdbf263.63d864","type":"inject","z":"7718f90a.6e6fa8","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":660,"wires":[["430a1fef.2950f8"]]},{"id":"f52da995.1629b8","type":"inject","z":"da64988.798f6e8","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":180,"wires":[["ac5af017.28cfa8"]]},{"id":"320b146e.7caefc","type":"inject","z":"da64988.798f6e8","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":400,"wires":[["5679be89.d7153"]]},{"id":"baf217cd.69a82","type":"inject","z":"da64988.798f6e8","name":"Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":660,"wires":[["ad3352ad.7a3aa"]]},{"id":"e61fe2ac.06c65","type":"inject","z":"ff5f92ae.f7a968","name":"20_seck_check","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":140,"wires":[["b62e1de4.dee438","dbac1eec.3b17a8","94a0d0ca.7e764","ca342bf5.2a038"]]},{"id":"83810f0.48a0bf","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning1","x":440,"y":340,"wires":[["c3ddd6e1.8bde1"]]},{"id":"38e8a13d.ec41be","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning2","x":440,"y":400,"wires":[["a98e9ac0.a3db78"]]},{"id":"a7a84d2.48a00b","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning3","x":440,"y":460,"wires":[["38ebd5ee.aaceca"]]},{"id":"47a234ba.ec1c7c","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning4","x":440,"y":520,"wires":[["fdfb1f3a.585e48"]]},{"id":"c3ddd6e1.8bde1","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg; ","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["b1decc4a.ec1c58"]]},{"id":"a98e9ac0.a3db78","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["6a975b7e.99dc44"]]},{"id":"38ebd5ee.aaceca","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["3e8dd932.320d96"]]},{"id":"fdfb1f3a.585e48","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":520,"wires":[["7d8125f2.811124"]]},{"id":"7fe30739.5c19c","type":"ui_button","z":"ff5f92ae.f7a968","name":"Air_OFF","group":"4a336cf0.c8d3c4","order":0,"width":0,"height":0,"passthru":false,"label":"AC OFF","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":440,"wires":[["83810f0.48a0bf","38e8a13d.ec41be","a7a84d2.48a00b","47a234ba.ec1c7c"]]},{"id":"b1decc4a.ec1c58","type":"link out","z":"ff5f92ae.f7a968","name":"1","links":["fad87cfb.293e88"],"x":755,"y":340,"wires":[]},{"id":"fad87cfb.293e88","type":"link in","z":"ea34fccc.b38df8","name":"a1","links":["b1decc4a.ec1c58","cde8d108.c1bfa","edbae5c8.df77a","813d3f8a.397778"],"x":55,"y":100,"wires":[["73449280.aec594"]]},{"id":"6a975b7e.99dc44","type":"link out","z":"ff5f92ae.f7a968","name":"2","links":["56481482.3739ec"],"x":760,"y":400,"wires":[]},{"id":"56481482.3739ec","type":"link in","z":"b4775485.1f728","name":"a2","links":["6a975b7e.99dc44","1d93e95a.e0835f"],"x":55,"y":100,"wires":[["1e9555fc.d44dba"]]},{"id":"3e8dd932.320d96","type":"link out","z":"ff5f92ae.f7a968","name":"3","links":["8e9645c7.2e66a8"],"x":755,"y":460,"wires":[]},{"id":"7d8125f2.811124","type":"link out","z":"ff5f92ae.f7a968","name":"4","links":["ea38b606.cbd5f8"],"x":755,"y":520,"wires":[]},{"id":"8e9645c7.2e66a8","type":"link in","z":"7718f90a.6e6fa8","name":"a3","links":["3e8dd932.320d96","539a1706.a789d"],"x":35,"y":120,"wires":[["b7379158.d930d8"]]},{"id":"ea38b606.cbd5f8","type":"link in","z":"da64988.798f6e8","name":"a4","links":["7d8125f2.811124","912c73aa.4141d8"],"x":35,"y":120,"wires":[["3cf27bba.71b2b4"]]},{"id":"3364902f.a775e","type":"ui_button","z":"ff5f92ae.f7a968","name":"heat_OFF","group":"4a336cf0.c8d3c4","order":0,"width":0,"height":0,"passthru":true,"label":"Heating OFF","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":680,"wires":[["7a6f3382.e2bf1c","33b0d9a.db09ca6","6ae44b38.241f74","9f8598a3.22898"]]},{"id":"7a6f3382.e2bf1c","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat1","x":410,"y":600,"wires":[["3d01ab13.638424"]]},{"id":"33b0d9a.db09ca6","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat2","x":410,"y":660,"wires":[["57b6e45.dc05d9c"]]},{"id":"6ae44b38.241f74","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat3","x":410,"y":720,"wires":[["9a8a74f3.8e5ce8"]]},{"id":"9f8598a3.22898","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat4","x":410,"y":780,"wires":[["57053f34.6e903"]]},{"id":"3d01ab13.638424","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg; ","outputs":1,"noerr":0,"x":630,"y":600,"wires":[["d4bc0ef.694927"]]},{"id":"57b6e45.dc05d9c","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["1012745e.fc8c5c"]]},{"id":"9a8a74f3.8e5ce8","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":720,"wires":[["3bd6f4ee.a5b2bc"]]},{"id":"57053f34.6e903","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":780,"wires":[["64797d5f.d2a8ac"]]},{"id":"605eb31a.a10f6c","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent1","x":410,"y":860,"wires":[["754cdf2e.3daad"]]},{"id":"4e10e42e.cb7ba4","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent2","x":410,"y":920,"wires":[["7ceab51d.8c8d9c"]]},{"id":"ef72fd8c.839e58","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent3","x":410,"y":980,"wires":[["161a5c38.29240c"]]},{"id":"4475ba44.cf0c34","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent4","x":410,"y":1040,"wires":[["1cb2989c.2e81af"]]},{"id":"754cdf2e.3daad","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn
 msg; ","outputs":1,"noerr":0,"x":630,"y":860,"wires":[["8e5665e8.5f042"]]},{"id":"7ceab51d.8c8d9c","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":920,"wires":[["41f2f7fd.ac65b8"]]},{"id":"161a5c38.29240c","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":980,"wires":[["443a5114.bacea8"]]},{"id":"1cb2989c.2e81af","type":"function","z":"ff5f92ae.f7a968","name":"If_ON","func":"if(msg.payload==1)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1040,"wires":[["79201fa4.25af1"]]},{"id":"34de4c9b.bd9024","type":"ui_button","z":"ff5f92ae.f7a968","name":"vent_OFF","group":"4a336cf0.c8d3c4","order":0,"width":0,"height":0,"passthru":true,"label":"Ventilation OFF","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":940,"wires":[["605eb31a.a10f6c","4e10e42e.cb7ba4","ef72fd8c.839e58","4475ba44.cf0c34"]]},{"id":"d4bc0ef.694927","type":"link out","z":"ff5f92ae.f7a968","name":"h1","links":["e128b12d.7fd898"],"x":735,"y":600,"wires":[]},{"id":"1012745e.fc8c5c","type":"link out","z":"ff5f92ae.f7a968","name":"h2","links":["f611d619.848bf8"],"x":735,"y":660,"wires":[]},{"id":"3bd6f4ee.a5b2bc","type":"link out","z":"ff5f92ae.f7a968","name":"h3","links":["cf8e3af7.c60ef8"],"x":735,"y":720,"wires":[]},{"id":"64797d5f.d2a8ac","type":"link out","z":"ff5f92ae.f7a968","name":"h4","links":["4b3d522c.e9e32c"],"x":735,"y":780,"wires":[]},{"id":"8e5665e8.5f042","type":"link out","z":"ff5f92ae.f7a968","name":"v1","links":["8f84bf07.ed9348"],"x":735,"y":860,"wires":[]},{"id":"41f2f7fd.ac65b8","type":"link out","z":"ff5f92ae.f7a968","name":"v2","links":["377327e2.04003"],"x":735,"y":920,"wires":[]},{"id":"443a5114.bacea8","type":"link out","z":"ff5f92ae.f7a968","name":"v3","links":["793f3bd1.52bc8c"],"x":735,"y":980,"wires":[]},{"id":"79201fa4.25af1","type":"link out","z":"ff5f92ae.f7a968","name":"v4","links":["d4f7f954.a40ec8"],"x":735,"y":1040,"wires":[]},{"id":"e128b12d.7fd898","type":"link in","z":"ea34fccc.b38df8","name":"h1","links":["d4bc0ef.694927","a5585b1e.43af8","42bddf66.5a6e88"],"x":55,"y":320,"wires":[["864e8481.f265b"]]},{"id":"8f84bf07.ed9348","type":"link in","z":"ea34fccc.b38df8","name":"v1","links":["8e5665e8.5f042","70f6c2cd.312ab4"],"x":55,"y":560,"wires":[["637600f6.c8d628"]]},{"id":"f611d619.848bf8","type":"link in","z":"b4775485.1f728","name":"h2","links":["1012745e.fc8c5c","6d6c2bc8.f95134"],"x":55,"y":340,"wires":[["ccd37142.89e64"]]},{"id":"377327e2.04003","type":"link in","z":"b4775485.1f728","name":"v2","links":["41f2f7fd.ac65b8","a5d2c7c1.c03c48"],"x":55,"y":620,"wires":[["f586a12b.d36b28"]]},{"id":"cf8e3af7.c60ef8","type":"link in","z":"7718f90a.6e6fa8","name":"h3","links":["3bd6f4ee.a5b2bc","8295bb1a.81d6f8"],"x":55,"y":340,"wires":[["7d9db5ca.dddebc"]]},{"id":"793f3bd1.52bc8c","type":"link in","z":"7718f90a.6e6fa8","name":"v3","links":["443a5114.bacea8","7a06391e.e9ef18"],"x":35,"y":600,"wires":[["cea53df6.d891f8"]]},{"id":"4b3d522c.e9e32c","type":"link in","z":"da64988.798f6e8","name":"","links":["64797d5f.d2a8ac","864751dc.4a2938"],"x":35,"y":340,"wires":[["a315fa2a.5d4ef8"]]},{"id":"d4f7f954.a40ec8","type":"link in","z":"da64988.798f6e8","name":"","links":["79201fa4.25af1","f045a1ae.7a1ea8"],"x":55,"y":600,"wires":[["558c1d50.705414"]]},{"id":"496c95ae.770734","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning1","x":1260,"y":320,"wires":[["d2034854.8080a"]]},{"id":"d2034854.8080a","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":320,"wires":[["813d3f8a.397778"]]},{"id":"2137a7fa.0a747","type":"ui_button","z":"ff5f92ae.f7a968","name":"AIR_ON","group":"4a336cf0.c8d3c4","order":0,"width":0,"height":0,"passthru":true,"label":"AC ON","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1000,"y":400,"wires":[["496c95ae.770734","73485c94.fdd9f4","2da8796a.665216","1957fbb9.00f25c"]]},{"id":"813d3f8a.397778","type":"link out","z":"ff5f92ae.f7a968","name":"1","links":["fad87cfb.293e88"],"x":1575,"y":320,"wires":[]},{"id":"73485c94.fdd9f4","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning2","x":1260,"y":380,"wires":[["b6e263f1.25ade"]]},{"id":"2da8796a.665216","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning3","x":1260,"y":440,"wires":[["6c766253.4d9e34"]]},{"id":"1957fbb9.00f25c","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/A","content-format":"text/plain","raw-buffer":false,"name":"GET_air_conditioning4","x":1260,"y":500,"wires":[["5ab7f34b.1a7464"]]},{"id":"1d93e95a.e0835f","type":"link out","z":"ff5f92ae.f7a968","name":"2","links":["56481482.3739ec"],"x":1575,"y":380,"wires":[]},{"id":"539a1706.a789d","type":"link out","z":"ff5f92ae.f7a968","name":"3","links":["8e9645c7.2e66a8"],"x":1575,"y":440,"wires":[]},{"id":"912c73aa.4141d8","type":"link out","z":"ff5f92ae.f7a968","name":"4","links":["ea38b606.cbd5f8"],"x":1570,"y":500,"wires":[]},{"id":"b6e263f1.25ade","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":380,"wires":[["1d93e95a.e0835f"]]},{"id":"6c766253.4d9e34","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":440,"wires":[["539a1706.a789d"]]},{"id":"5ab7f34b.1a7464","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":500,"wires":[["912c73aa.4141d8"]]},{"id":"8a9e4d1a.5c2bc8","type":"ui_button","z":"ff5f92ae.f7a968","name":"heat_ON","group":"4a336cf0.c8d3c4","order":0,"width":0,"height":0,"passthru":true,"label":"Heating ON","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":980,"y":660,"wires":[["28b5e7c0.f6ac8","582db167.826e5","412cc74.268c3b8","7f87b436.917da4"]]},{"id":"28b5e7c0.f6ac8","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat1","x":1250,"y":580,"wires":[["11706ad6.3aa71d"]]},{"id":"582db167.826e5","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat2","x":1250,"y":640,"wires":[["b30c4ea2.c8226"]]},{"id":"412cc74.268c3b8","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat3","x":1250,"y":700,"wires":[["30ac3802.26f798"]]},{"id":"7f87b436.917da4","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/H","content-format":"text/plain","raw-buffer":false,"name":"GET_heat4","x":1250,"y":760,"wires":[["75d4a241.6a5564"]]},{"id":"42bddf66.5a6e88","type":"link out","z":"ff5f92ae.f7a968","name":"h1","links":["e128b12d.7fd898"],"x":1575,"y":580,"wires":[]},{"id":"6d6c2bc8.f95134","type":"link out","z":"ff5f92ae.f7a968","name":"h2","links":["f611d619.848bf8"],"x":1575,"y":640,"wires":[]},{"id":"8295bb1a.81d6f8","type":"link out","z":"ff5f92ae.f7a968","name":"h3","links":["cf8e3af7.c60ef8"],"x":1575,"y":700,"wires":[]},{"id":"864751dc.4a2938","type":"link out","z":"ff5f92ae.f7a968","name":"h4","links":["4b3d522c.e9e32c"],"x":1575,"y":760,"wires":[]},{"id":"11706ad6.3aa71d","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":580,"wires":[["42bddf66.5a6e88"]]},{"id":"b30c4ea2.c8226","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":640,"wires":[["6d6c2bc8.f95134"]]},{"id":"30ac3802.26f798","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":700,"wires":[["8295bb1a.81d6f8"]]},{"id":"75d4a241.6a5564","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":760,"wires":[["864751dc.4a2938"]]},{"id":"de1a94ad.2a9008","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent1","x":1250,"y":840,"wires":[["56ccfa09.e3944c"]]},{"id":"10c9b360.13aef5","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent2","x":1250,"y":900,"wires":[["8094f100.8769b"]]},{"id":"c825d672.8f9a5","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent3","x":1250,"y":960,"wires":[["e94ceacd.05726"]]},{"id":"83bae476.732ef8","type":"coap request","z":"ff5f92ae.f7a968","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/g/V","content-format":"text/plain","raw-buffer":false,"name":"GET_vent4","x":1250,"y":1020,"wires":[["97829c39.d7f628"]]},{"id":"ae3c0577.8d5e28","type":"ui_button","z":"ff5f92ae.f7a968","name":"vent_OFF","group":"4a336cf0.c8d3c4","order":0,"width":0,"h
eight":0,"passthru":true,"label":"Ventilation OFF","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":980,"y":920,"wires":[["de1a94ad.2a9008","10c9b360.13aef5","c825d672.8f9a5","83bae476.732ef8"]]},{"id":"70f6c2cd.312ab4","type":"link out","z":"ff5f92ae.f7a968","name":"v1","links":["8f84bf07.ed9348"],"x":1575,"y":840,"wires":[]},{"id":"a5d2c7c1.c03c48","type":"link out","z":"ff5f92ae.f7a968","name":"v2","links":["377327e2.04003"],"x":1575,"y":900,"wires":[]},{"id":"7a06391e.e9ef18","type":"link out","z":"ff5f92ae.f7a968","name":"v3","links":["793f3bd1.52bc8c"],"x":1575,"y":960,"wires":[]},{"id":"f045a1ae.7a1ea8","type":"link out","z":"ff5f92ae.f7a968","name":"v4","links":["d4f7f954.a40ec8"],"x":1575,"y":1020,"wires":[]},{"id":"56ccfa09.e3944c","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":840,"wires":[["70f6c2cd.312ab4"]]},{"id":"8094f100.8769b","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":900,"wires":[["a5d2c7c1.c03c48"]]},{"id":"e94ceacd.05726","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":960,"wires":[["7a06391e.e9ef18"]]},{"id":"97829c39.d7f628","type":"function","z":"ff5f92ae.f7a968","name":"If_OFF","func":"if(msg.payload==0)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":1020,"wires":[["f045a1ae.7a1ea8"]]},{"id":"c5771bf1.1e27","type":"mqtt out","z":"ff5f92ae.f7a968","name":"House","topic":"channels/948721/publish/fields/field1/YJRSSF297CPI1M4W","qos":"","retain":"","broker":"2ebd5fa6.4d71c","x":1070,"y":120,"wires":[]},{"id":"720d6e0a.87ee88","type":"mqtt out","z":"ea34fccc.b38df8","name":"Room1","topic":"channels/948722/publish/fields/field1/LTGHT25ISGOHR0P8","qos":"","retain":"","broker":"2ebd5fa6.4d71c","x":820,"y":980,"wires":[]},{"id":"8e63ee6e.832618","type":"mqtt out","z":"7718f90a.6e6fa8","name":"Room3","topic":"channels/948722/publish/fields/field3/LTGHT25ISGOHR0P8","qos":"","retain":"","broker":"2ebd5fa6.4d71c","x":790,"y":1100,"wires":[]},{"id":"32d96c9d.996f14","type":"mqtt out","z":"da64988.798f6e8","name":"Room4","topic":"channels/948722/publish/fields/field4/LTGHT25ISGOHR0P8","qos":"","retain":"","broker":"2ebd5fa6.4d71c","x":800,"y":1100,"wires":[]},{"id":"8c44f6d3.d6674","type":"mqtt out","z":"b4775485.1f728","name":"Room2","topic":"channels/948722/publish/fields/field2/IHUEB8YQ5GH8CKPV","qos":"","retain":"","broker":"2ebd5fa6.4d71c","x":820,"y":1140,"wires":[]},{"id":"5234e86d.f56fc","type":"ui_chart","z":"b4775485.1f728","name":"avg_room2","group":"25be565e.fa28fa","order":0,"width":0,"height":0,"label":"Avarage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":370,"y":1280,"wires":[[],[]]},{"id":"e37c8c47.a12b7","type":"ui_chart","z":"7718f90a.6e6fa8","name":"avg_room3","group":"90be470b.aeb6e","order":0,"width":0,"height":0,"label":"Avarage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":350,"y":1240,"wires":[[],[]]},{"id":"16e8fd9.6c41682","type":"ui_chart","z":"da64988.798f6e8","name":"avg_room4","group":"3fa15faf.a4489","order":0,"width":0,"height":0,"label":"Avarage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":370,"y":1240,"wires":[[],[]]},{"id":"6dd7dd86.3649bc","type":"ui_chart","z":"ea34fccc.b38df8","name":"avg_room1","group":"d6b737e7.b54138","order":0,"width":0,"height":0,"label":"Avarage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":410,"y":1100,"wires":[[],[]]},{"id":"9aa1900b.9c5aa","type":"mqtt in","z":"b4775485.1f728","name":"Room2","topic":"channels/948722/publish/fields/field2/IHUEB8YQ5GH8CKPV","qos":"2","broker":"2ebd5fa6.4d71c","x":160,"y":1280,"wires":[["5234e86d.f56fc"]]},{"id":"79c1db82.94c07c","type":"mqtt in","z":"ea34fccc.b38df8","name":"Room1","topic":"channels/948722/publish/fields/field1/IHUEB8YQ5GH8CKPV","qos":"2","broker":"2ebd5fa6.4d71c","x":170,"y":1100,"wires":[["6dd7dd86.3649bc"]]},{"id":"3ee5271c.148da8","type":"mqtt in","z":"7718f90a.6e6fa8","name":"Room3","topic":"channels/948722/publish/fields/field3/IHUEB8YQ5GH8CKPV","qos":"2","broker":"2ebd5fa6.4d71c","x":160,"y":1240,"wires":[["e37c8c47.a12b7"]]},{"id":"2581a4ac.7321cc","type":"mqtt in","z":"da64988.798f6e8","name":"Room4","topic":"channels/948722/publish/fields/field4/IHUEB8YQ5GH8CKPV","qos":"2","broker":"2ebd5fa6.4d71c","x":120,"y":1240,"wires":[["16e8fd9.6c41682"]]},{"id":"47c77f12.65d168","type":"e-mail","z":"da64988.798f6e8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":890,"y":940,"wires":[]},{"id":"e4e4b596.86962","type":"e-mail","z":"7718f90a.6e6fa8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":930,"y":940,"wires":[]},{"id":"e491a9a1.dcb07","type":"e-mail","z":"b4775485.1f728","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":1030,"y":960,"wires":[]},{"id":"2165ba05.cc3d6e","type":"e-mail","z":"ea34fccc.b38df8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":950,"y":860,"wires":[]}]

